body {
  color: #54301a;
}

h1, p, ul, h2 {
  margin: 0px 25px;
  padding: 0 0 25px;
}
ul {
  list-style-type: disc;
/*  color: #ee3524;*/
  color: brown;
}
p {
  font-size: 3em;
}
pre {
  font-size: 2.5em;
}
h1, h2, h3 {
  font-family:  "museo-slab-1", "museo-slab-2", Times, serif;
  font-weight:  300;
}
h1 {
  font-weight:  500;
}
h2 {
  color:        #f37321;
}
h3 {
  font-size:    2.7em;
  color:        brown;
}
pre {
/*  color: #brown;*/
  color: #f37321;
}
#preso, .slide, pre.sh_sourceCode {
  background-color: #f1e3c5;;
}